@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$green: #D0FFCE;
$purple: #C3BEF7;

body {
    background-color: $green;
    height: 100vh;
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
}

.purple {
    color: $purple;
}

#gif-container {
    width: 60vw;
}