@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$blue: #B8D5B8;

body {
    background-color: $blue;
    height: 100vh;
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
}